# Default ignore
*

# Common
!.config/
!.config/fish/
!.config/fish/config.fish
!.config/fish/fish_plugins
!.config/fish/functions/
!.config/fish/functions/fish_mode_prompt.fish
!.config/fish/functions/fish_prompt.fish
!.config/nvim
!.config/nvim/lua/
!.config/nvim/lua/config/
!.config/nvim/lua/config/*.lua
!.gitconfig
!.gitignore
!.gitignore_global
!.tmux.conf
!.wezterm.lua
!.zshrc
!LICENSE

# Use this area for machine-specific configuration (in branches)
