[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule "tmux/plugins/tmux-cpu"]
	path = tmux/plugins/tmux-cpu
	url = https://github.com/tmux-plugins/tmux-cpu.git
[submodule "tmux/plugins/tmux-pain-control"]
	path = tmux/plugins/tmux-pain-control
	url = https://github.com/tmux-plugins/tmux-pain-control.git
[submodule "tmux/plugins/tmux-sensible"]
	path = tmux/plugins/tmux-sensible
	url = https://github.com/tmux-plugins/tmux-sensible.git
[submodule "tmux/plugins/tmux-yank"]
	path = tmux/plugins/tmux-yank
	url = https://github.com/tmux-plugins/tmux-yank.git
[submodule "tmux/plugins/tmux-prefix-highlight"]
	path = tmux/plugins/tmux-prefix-highlight
	url = https://github.com/tmux-plugins/tmux-prefix-highlight.git
[submodule "tmux/plugins/tmux-net-speed"]
	path = tmux/plugins/tmux-net-speed
	url = https://github.com/tmux-plugins/tmux-net-speed.git
[submodule "nvim/bundle/vim-fugitive"]
	path = nvim/pack/plugins/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "nvim/ctrlp.vim"]
	path = nvim/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "nvim/bundle/ctrlp.vim"]
	path = nvim/pack/plugins/start/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "nvim/pack/plugins/start/gruvbox"]
	path = nvim/pack/plugins/start/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule "nvim/pack/plugins/start/vim-solarized8"]
	path = nvim/pack/plugins/start/vim-solarized8
	url = https://github.com/lifepillar/vim-solarized8.git
[submodule "nvim/pack/plugins/start/onedark.vim"]
	path = nvim/pack/plugins/start/onedark.vim
	url = https://github.com/joshdick/onedark.vim.git
[submodule "nvim/pack/plugins/start/coc.nvim"]
	path = nvim/pack/plugins/start/coc.nvim
	url = git@github.com:neoclide/coc.nvim.git
[submodule "nvim/pack/plugins/start/molokai"]
	path = nvim/pack/plugins/start/molokai
	url = git@github.com:tomasr/molokai.git
[submodule "nvim/pack/plugins/start/dracula"]
	path = nvim/pack/plugins/start/dracula
	url = git@github.com:dracula/vim.git
