# Default ignore
*

# Common
!.config/
!.config/fish/
!.config/fish/config.fish
!.config/fish/fish_plugins
!.config/fish/functions/
!.config/fish/functions/fish_mode_prompt.fish
!.config/fish/functions/fish_prompt.fish
!.config/nvim
!.config/nvim/init.lua
!.gitignore
!.tmux.conf
!LICENSE

# Use this area for machine-specific configuration (in branches)
