# Default ignore
*

# Common
!.config/
!.config/fish/
!.config/fish/**
!.config/nvim
!.config/nvim/**
!.config/omf/
!.config/omf/**
!.gitignore
!.tmux/
!.tmux/plugins/
!.tmux/plugins/tpm/
!.tmux/plugins/tpm/**
!.tmux.conf
!LICENSE

# Use this area for machine-specific configuration (in branches)
